@import '../../../styles.scss';

// VARIABLES



// MOBILE-FIRST BASE STYLES (applies to small screens)

 :host {  
    height: 7%;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
 }

  .header{
    border-bottom: .1px solid $secondary-color;   
    // background-color: green;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform .3s ease;
    
    .header-content {
      width: 100%;
      margin: 0 $side-space;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; 
      z-index: 1000;
        
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          gap: 1px;
          position: relative;
          height: 100%;
          width: 100%;
          
          li {
            height: 100%;
            width: 13%;
            // background-color: purple;
            
           
            &.logo-container{
              flex: 1;
            }
  
            a {
              div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
  
                p {
                  font-size: x-small;
                  text-align: start;
                }
  
                svg {
                  max-width: 22px;
                  min-width: 22px;
                  min-height: 22px;
                  max-height: 22px;
                }
  
                img {
                  max-width: 70px;
                  max-height: 25px;
                }
  
                &.logo {
                  max-width: 200px;
                  display: grid;
                  grid-template-columns: 4fr 2fr;
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
                
                &.notification {
                  position: relative;
                  display: flex;
                  width: 50%;
  
                    .notification-count {
                      position: absolute;
                      top: 12px;
                      left: 10px;
                      color: white;
                      border-radius: 22px;
                      padding: 0px 4px;
                      font-size: 10px;
                      font-family: "Roboto","Arial",sans-serif;
                      text-align: center;
                      font-weight: 400;
                      display: inline-block;
                      width: 100%;
                      max-width: 18px;
                      min-width: 8px;
                      height: 16px;
                      line-height: 16px;
                      
                    }
                  
                }
                &.profile {
                  width: 50%;
                  height: 100%;
                  display: flex;
                  gap: 2px;
                  
                  img {
                    border-radius: 50px;
                    height: 60px;
                    object-fit: cover;
                  }
  
                  p {
                    width: max-content;
                    max-width: 3rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    cursor: pointer;
                  }
                }
                &.button-toggle{
                  width: 50%;
                  height: 100%;
                  display: flex;
                  justify-self: center;
                  // background-color: red;
                  align-items: center;
                  justify-content: center;
                }
                
              }
            }
          }
          
        }
    }
    
  }
  
  
  // MEDIA QUERY FOR TABLETS AND UP (min-width: 768px)
  // @media (min-width: 768px) {
  //   header {
  //     height: $header-height-tablet;
  //     min-height: $header-height-tablet;
  //     max-height: $header-height-tablet;
  
  //     .header-content {
  //       height: $header-height-tablet;
  
  //       .collapse{
  //         display: none;
  //       }
  
  //       nav ul li a div {
  //         height: $header-height-tablet;
  
  //         svg {
  //           max-width: 40px;
  //           max-height: 40px;
  //         }
  
  //         img {
  //           max-width: 100px;
  //           max-height: 40px;
  //         }
  
  //         &.logo {
  //           max-width: 300px;
  //         }
  
  //         &.profile {
  //           p {
  //             max-width: 4rem;
  //           }
  //         }
  
  //         &.notification::after {
  //           right: 100px;
  //           top: 25px;
  //         }
  //       }
  //     }
  //   }
  // }
  
  // // MEDIA QUERY FOR DESKTOPS AND UP (min-width: 1024px)
  // @media (min-width: 1024px) {
  //   header {
  //     height: $header-height-desktop;
  //     min-height: $header-height-desktop;
  //     max-height: $header-height-desktop;
  //     max-width: 1200px;
  
  //     .header-content {
  //       margin: 0 $side-space;
  //       height: $header-height-desktop;
  
  //       nav ul li a div {
  //         svg {
  //           max-width: 50px;
  //           max-height: 50px;
  //         }
  
  //         img {
  //           max-width: 120px;
  //           max-height: 50px;
  //         }
  
  //         &.logo {
  //           max-width: 350px;
  //         }
  
  //         &.profile {
  //           p {
  //             max-width: 5rem;
  //           }
  //         }
  
  //         &.notification::after {
  //           right: 110px;
  //           top: 30px;
  //         }
  //       }
  //     }
  //   }
  // }

