
<div class="timeslot">
    <h5>Sat, 14 September 2024</h5>
    <div class="slots-wrapper">
        <div *ngFor="let slot of availableSlots" class="slot">
            <!-- <div class="time">{{getDate(slot.start)}}</div> -->
            <div 
                [attr.data-timeslot]="getDate(slot.start)" 
                (click)="selectTimeSlot($event)" 
                class="info">
                {{getDate(slot.start)}} - {{getDate(slot.end)}}
            </div>
            
        </div>
        
    </div>   
    
</div>
