@import '../../../styles.scss';

.timeslot{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5px;
    padding: 8px 4px;
    // border: 1px solid #ddd;
    box-sizing: border-box;    
    // background-color: green;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    h5{
        text-align: center;
        padding: 5px;
        color: $gray;
    }

    .slots-wrapper{
        overflow-y: scroll;
        width: 100%;
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70px;
        max-height: 200px;
        gap: 3px;

        .slot{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 1px;
            font-size: 10px;           
            // max-width: 370px;
            border: .5px solid #ddd;
            
            border-radius: 5px;
            padding: 10px 0px;
            text-align: center;
            max-width: 2000px;
            min-width: 80px;
            
            &.unvailable{
                background-color: $light-gray;
                pointer-events: none; // Prevent clicks
                cursor: default; // Change cursor to default for unclickable cells
            }
    
            &.selected{
                background-color: $secondary-color;
                color: white;
                font-weight: bold;
            }

            span{                
                
                text-align: center;
                width: 100%;
            }
        }
    }

}