<div class="calendar">
    <div class="calendar-header">
      @if(weekCalendar){
        <button (click)="prevWeek()"><<</button>
      }@else {
        <button (click)="prevMonth()"><<</button>
      }
      <span (click)="OpenModal()" >{{ currentMonth | date: 'MMMM yyyy' }}</span>
      @if(weekCalendar){       
        <button (click)="nextWeek()">>></button>
      }@else {        
        <button (click)="nextMonth()">>></button>
      }
    </div>
    <div (click)="OpenModal()" class="days-of-week">
      <div *ngFor="let day of daysOfWeek">{{ day }}</div>
    </div>
    <div class="calendar-grid">
      
      <div class="day-cell" *ngFor="let day of calendarDays" 
           [class.empty] ="day.date === null"
           [class.today] ="isToday(day) === true"
           [class.unvailable]="day.available === false"
           [class.selected] ="selectedDay === day.date"
           (click)="onDateSelect(day)">
        <span *ngIf="day.date !== null">{{ day.date }}</span>
      </div>
  </div>
</div>
  