@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


// COLORS
$primary-color: #730301;
$secondary-color: #D58764;
$text-color: #333;
$gray: #767676;
$light-gray: #E4E4E4;
$light-red: #EB5757;
$background1: #F9F9F9;
$unvailable-color: #f5f5f5;
$dark: #27272A;

// Fonts
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 16px;
$title-size: 14px;

// VARIABLES WIDTH AND HEIGHT
$page-max-width: 768px;
$page-min-width: 320px;

*, *::before, *::after, html, body {
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

html{
    overflow: auto;
}

body {
    font-family: $font-family-base;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    // background-color: purple;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-width: $page-min-width;
    margin: 0 auto;
    background-color: $background1;
}

.dark-background {
    background-color: rgba(0, 0, 0, 0.486);
}    

header {    
    // height: 15vh;  // Adjust header height as needed
    background-color: inherit;
    width: 100%;    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    // visibility: hidden;
}

main {
    flex-grow: 1;  // This makes the main content grow and take the remaining space
    width: 100%;
    height: 70%;
    overflow-y: auto;
    margin-top: 60px;
      // Offset the height of the fixed header
    // background-color: yellow;  // Example
   
}

footer {
    // height: 15vh;  // Footer height
    width: 100%;
    margin: 0 auto;
    // background-color: green;  // Example
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // z-index: 100;
    flex-grow: 3;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $gray
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
