@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


// COLORS
$primary-color: #730301;
$secondary-color: #D58764;
$text-color: #333;
$gray: #767676;
$light-gray: #E4E4E4;
$light-red: #EB5757;
$background1: #F9F9F9;
$unvailable-color: #f5f5f5;
$dark: #27272A;

// Fonts
$font-family-base: 'Poppins', sans-serif;
$font-family-base: Roboto, "Helvetica Neue", sans-serif;
$font-size-base: 16px;
$title-size: 14px;

// VARIABLES WIDTH AND HEIGHT
$page-max-width: 768px;
$page-min-width: 320px;


$side-space: 0.1rem;

html{
    overflow: hidden;
}
body{
    height: 100vh;
    margin: 0;
    
}

.container{    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $gray
}

h1, h2, h3, h4, h5, h6, span {
    margin: 0;
    padding: 0;
    line-height: 1.2; /* Adjust as needed */
}


/* For screens with width between 1366px and 1920px (commonly 14-inch laptops) */
@media (min-width: 1366px) and (max-width: 1920px) {
    main {
        background-color: blue; /* Example style */
    }
}

